/* Team members styles */
.about-us-headlines,
.courses-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

#team1, #team2, #team3, #team4, #team5 {
  background-color: #cccccc;
  border-radius: 30px;
  margin-right: 40px;
}

.team-members-info p {
  max-width: 90%;
  }

  #interested-apply {
    background-color: #676767;
    color: #eee;
    width: 70%;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
  }